@model D08Pasupuleti.Models.Batch

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Batch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BatchName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BatchName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BatchYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BatchYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DegreeLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DegreeLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.BatchID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
