@model IEnumerable<D08Pasupuleti.Models.Batch>

@{
    ViewData["Title"] = "Index";
}

<h2>Batches</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BatchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BatchYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DegreeLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BatchName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BatchYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DegreeLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentName)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.BatchID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.BatchID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.BatchID">Delete</a>
        </td>
    </tr>
}
</table>
